---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import LoginWrapper from '../components/LoginWrapper';
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Busreservierung</title>
  </head>
  <body>
    <LoginWrapper client:load />
  </body>
</html>